<div class="card-body bg-primary white-text">
    <div class="card-text p-2" >
    <div class="d-flex justify-content-center mt-4 mb-4">
   <div>
     <div class="green-circle mr-5">1</div>
      Personal <br/>Details  
    </div>
    <div>
    <div class="green-circle mr-5">2</div>
    Contact <br/>Details 
    </div>
    <div><div class="green-circle mr-5">3</div>Skills</div>
        <div><div class="green-circle-last mr-5">4</div>Work<br/>Experience</div>
    </div>
</div>
  </div>
<div class="card-footer bg-transparent border-success min-h-300" >
    <h4 class="mb-5"><b>STEP 4: Work Experience</b></h4>

      <div class="col-md-5">
    
        <div *ngFor="let item of Skills;let index = index;" class="mb-1">
          <input [(ngModel)]="Skills[index].skill" placeholder="Skills[index].skill" (blur)='onSkillTxtBlur()' [style.color]="(!Skills[index].duplicate)?'black':'red'" >
        <button class="btn btn-danger ml-2 btn-sm" (click)='removeSkill(index)'>-</button>
        </div>
        <button class="btn btn-success" (click)='addSkill()'>+</button>
      </div>
 
    <button class="btn btn-info float-right mt-5 ml-2" routerLink="/success">Finish</button>
    <button class="btn btn-info float-right mt-5" routerLink="/skills">Back</button>
    
</div>