<div class="container-fluid ">
  <div class="container-fluid">
    <div class="p-2 bg-danger mt-2 text-center">
      <h2 class="white-text">Wizard Using Angular Routing</h2>
    </div>
    <p class="mt-2 mb-2 white-text">
      Please complete following form, use previous and next buttons to navigate
      between pages
    </p>

    <div class="card border-success mb-3">
      <div class="card-header border-success skyblue-bg">Profile Wizard</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
