<div class="card-body bg-primary white-text">
  <div class="card-text p-2">
    <div class="d-flex justify-content-center mt-4 mb-4">
      <div>
        <div class="green-circle mr-5">1</div>
        Personal <br />Details
      </div>
      <div>
        <div class="gray-circle mr-5">2</div>
        <br />
        Contact <br />Details
      </div>
      <div>
        <div class="gray-circle mr-5">3</div>
        <br />Skills
      </div>
      <div>
        <div class="gray-circle mr-5">4</div>
        <br />Work<br />Experience
      </div>
    </div>
  </div>
</div>
<div class="card-footer bg-transparent border-success min-h-300">
  <h4 class="mb-5"><b>STEP 1: Personal Details</b></h4>
  <div class="col-md-5">
    <input type="text" class="form-control mb-2" placeholder="First Name" />
    <input type="text" class="form-control mb-2" placeholder="Last Name" />

    <select class="form-control" (change)='printCountry($event.target.value)'>
      <option *ngFor="let country of Countries" >{{country}}</option>
    </select>

  </div>

  <button class="btn btn-info float-right mt-5" routerLink="/cinfo">
    Next
  </button>
</div>
