<div class="card-body bg-primary white-text">
  <div class="card-text p-2">
    <div class="d-flex justify-content-center mt-4 mb-4">
      <div>
        <div class="green-circle mr-5">1</div>
        Personal<br />Details
      </div>
      <div>
        <div class="green-circle mr-5">2</div>
        Contact<br />Details
      </div>
      <div>
        <div class="green-circle mr-5">3</div>
        Skills
      </div>
      <div>
        <div class="green-circle-last mr-5">4</div>
        Work<br />Experience
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-4 mb-2">
  <p>
    Successfully submitted your entry!
  </p>
</div>
<div class="d-flex justify-content-center mb-4">
  <button class="btn btn-sm btn-danger mt-2">Close</button>
</div>
